[run]
source = src/iobox
omit = 
    tests/*
    */__init__.py
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    pass
    raise NotImplementedError
    def __repr__
    if TYPE_CHECKING:

[html]
directory = htmlcov
